<div class="dashboard-container">
  <!-- sidebar for tablet and large screen only  -->
  <aside class="med-and-large-screen-side-bar">
    <nav>
      <div class="sidebar-container">
        <div class="logo">
          <div class="com-icon"></div>
          <h1 class="com-name text-white font-lato">Sunflower Trip</h1>
        </div>
        <div class="nav-container">
          <ul class="nav-list">
            <li class="nav-item">
              <a
                routerLink="/customer-dashboard"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <span class="nav-item-icon"></span
                ><span class="font-lato">Account</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/customer-dashboard/bookings"
                routerLinkActive="active"
              >
                <span class="nav-item-icon"></span
                ><span class="font-lato">Bookings</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/customer-dashboard/documents"
                routerLinkActive="active"
              >
                <span class="nav-item-icon"></span
                ><span class="font-lato">Documents</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/customer-dashboard/wishlists"
                routerLinkActive="active"
              >
                <span class="nav-item-icon"></span
                ><span class="font-lato">Wishlists</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="nav-action-container">
          <ul class="nav-list">
            <li class="nav-item">
              <span class="nav-item-icon"></span
              ><span class="font-lato">Support</span>
            </li>
            <li class="nav-item logout-btn-wrapper">
              <span class="nav-item-icon"></span
              ><button class="font-lato logout-btn" (click)="logout()">
                Logout
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </aside>

  <main>
    <div class="top-bar">
      <div class="logo">
        <span class="com-icon"></span>
        <h1 class="com-name text-white font-lato">Sunflower Trip</h1>
      </div>
      <!-- <div class="search-btn"><i class="fas fa-magnifying-glass"></i></div> -->
      <!-- <div class="notification-btn"><i class="far fa-bell"></i></div> -->
      <div class="user-info-wrapper">
        <div class="user-info">
          <div class="username-text font-lato">User Name</div>
          <div class="user-email-text font-lato">{{ "email@example.com" }}</div>
        </div>
        <div class="quick-dropdown-menu-wrapper">
          <button
            class="user-logo font-lato"
            popovertarget="quick-dropdown-menu"
          >
            UN
          </button>
          <div
            class="quick-action-dropdown-menu"
            id="quick-dropdown-menu"
            popover
          >
            <button class="quick-action-btn font-lato">Supoort</button>
            <button
              class="quick-action-btn logout-btn font-lato"
              (click)="logout()"
            >
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- navbar for small screen   -->
    <aside class="small-screen-navbar">
      <nav>
        <div class="nav-container">
          <ul class="nav-list">
            <li class="nav-item">
              <a
                routerLink="/customer-dashboard"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <span class="nav-item-icon"></span
                ><span class="font-lato">Account</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/customer-dashboard/bookings"
                routerLinkActive="active"
              >
                <span class="nav-item-icon"></span
                ><span class="font-lato">Bookings</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/customer-dashboard/documents"
                routerLinkActive="active"
              >
                <span class="nav-item-icon"></span
                ><span class="font-lato">Documents</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/customer-dashboard/wishlists"
                routerLinkActive="active"
              >
                <span class="nav-item-icon"></span
                ><span class="font-lato">Wishlists</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </aside>
    <router-outlet></router-outlet>
  </main>
</div>
