<div class="bookings-container">
  <div class="bookings-header-container">
    <div class="bookings-page-content">
      <div class="page-title">
        <h1 class="text-white font-lato title-text">My Bookings</h1>
      </div>
      <div class="page-description">
        <p class="font-lato text-secondary description-text">
          Manage your trips
        </p>
      </div>
    </div>
    <div class="export-btn-container">
      <button class="export-btn font-lato text-white">Export</button>
    </div>
  </div>
  <div class="bookings-page-navbar">
    <ul class="navbar-list">
      <li class="navbar-item font-lato active">All</li>
      <li class="navbar-item font-lato">Upcoming</li>
      <li class="navbar-item font-lato">Completed</li>
      <li class="navbar-item font-lato">Cancelled</li>
    </ul>
  </div>
  <div class="bookings-main-container">
    <div class="tour-list">
      <div class="tour-card">
        <div class="tour-card-content-wrapper">
          <div class="tour-card-text-content">
            <div class="tour-card-label">{{ "tour" | uppercase }}</div>
            <div class="tour-card-value-col-wrapper">
              <div class="tour-card-label-value tour-card-title">
                {{ "magnificent dubai gateway" | titlecase }}
              </div>
              <div
                class="tour-card-label-value tour-card-order-id text-secondary"
              >
                {{ "BK-2025-001" }}
              </div>
            </div>

            <div class="tour-card-label">{{ "date" | uppercase }}</div>
            <div class="tour-card-label-value tour-card-date">
              {{ "feb 19, 2026" | titlecase }}
            </div>

            <div class="tour-card-label">{{ "guests" | uppercase }}</div>
            <div class="tour-card-label-value tour-card-guests">
              {{ "2 guests" | titlecase }}
            </div>

            <div class="tour-card-label">{{ "price" | uppercase }}</div>
            <div class="tour-card-value-col-wrapper">
              <div class="tour-card-label-value tour-card-price">
                {{ "299999" | currency: "INR" }}
              </div>
              <div
                class="tour-card-label-value tour-card-payment-status text-secondary"
              >
                {{ "full" | uppercase }}
              </div>
            </div>

            <div class="tour-card-label">{{ "status" | uppercase }}</div>
            <div class="tour-card-label-value tour-card-status">
              <span class="tour-card-status-badge info font-lato">{{
                "upcoming" | titlecase
              }}</span>
            </div>
          </div>
          <div class="show-card-details-btn-wrapper">
            <button
              class="show-card-details-btn"
              (click)="toggleBookingDetails()"
            >
              <i class="fas fa-angle-right"></i>
            </button>
          </div>
        </div>
        <div class="tour-card-img-content">
          <img
            src="../../../../assets/images/luxury/dubai-stunning.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="tour-card">
        <div class="tour-card-content-wrapper">
          <div class="tour-card-text-content">
            <div class="tour-card-label">{{ "tour" | uppercase }}</div>
            <div class="tour-card-value-col-wrapper">
              <div class="tour-card-label-value tour-card-title">
                {{ "magnificent dubai gateway" | titlecase }}
              </div>
              <div
                class="tour-card-label-value tour-card-order-id text-secondary"
              >
                {{ "BK-2025-001" }}
              </div>
            </div>

            <div class="tour-card-label">{{ "date" | uppercase }}</div>
            <div class="tour-card-label-value tour-card-date">
              {{ "feb 19, 2026" | titlecase }}
            </div>

            <div class="tour-card-label">{{ "guests" | uppercase }}</div>
            <div class="tour-card-label-value tour-card-guests">
              {{ "2 guests" | titlecase }}
            </div>

            <div class="tour-card-label">{{ "price" | uppercase }}</div>
            <div class="tour-card-value-col-wrapper">
              <div class="tour-card-label-value tour-card-price">
                {{ "299999" | currency: "INR" }}
              </div>
              <div
                class="tour-card-label-value tour-card-payment-status text-secondary"
              >
                {{ "full" | uppercase }}
              </div>
            </div>

            <div class="tour-card-label">{{ "status" | uppercase }}</div>
            <div class="tour-card-label-value tour-card-status">
              <span class="tour-card-status-badge success font-lato">{{
                "completed" | titlecase
              }}</span>
            </div>
          </div>
          <div class="show-card-details-btn-wrapper">
            <button
              class="show-card-details-btn"
              (click)="toggleBookingDetails()"
            >
              <i class="fas fa-angle-right"></i>
            </button>
          </div>
        </div>
        <div class="tour-card-img-content">
          <img
            src="../../../../assets/images/luxury/dubai-stunning.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="tour-card">
        <div class="tour-card-content-wrapper">
          <div class="tour-card-text-content">
            <div class="tour-card-label">{{ "tour" | uppercase }}</div>
            <div class="tour-card-value-col-wrapper">
              <div class="tour-card-label-value tour-card-title">
                {{ "magnificent dubai gateway" | titlecase }}
              </div>
              <div
                class="tour-card-label-value tour-card-order-id text-secondary"
              >
                {{ "BK-2025-001" }}
              </div>
            </div>

            <div class="tour-card-label">{{ "date" | uppercase }}</div>
            <div class="tour-card-label-value tour-card-date">
              {{ "feb 19, 2026" | titlecase }}
            </div>

            <div class="tour-card-label">{{ "guests" | uppercase }}</div>
            <div class="tour-card-label-value tour-card-guests">
              {{ "2 guests" | titlecase }}
            </div>

            <div class="tour-card-label">{{ "price" | uppercase }}</div>
            <div class="tour-card-value-col-wrapper">
              <div class="tour-card-label-value tour-card-price">
                {{ "299999" | currency: "INR" }}
              </div>
              <div
                class="tour-card-label-value tour-card-payment-status text-secondary"
              >
                {{ "full" | uppercase }}
              </div>
            </div>

            <div class="tour-card-label">{{ "status" | uppercase }}</div>
            <div class="tour-card-label-value tour-card-status">
              <span class="tour-card-status-badge danger font-lato">{{
                "cancelled" | titlecase
              }}</span>
            </div>
          </div>
          <div class="show-card-details-btn-wrapper">
            <button
              class="show-card-details-btn"
              (click)="toggleBookingDetails()"
            >
              <i class="fas fa-angle-right"></i>
            </button>
          </div>
        </div>
        <div class="tour-card-img-content">
          <img
            src="../../../../assets/images/luxury/dubai-stunning.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  @if (showBoookingDetails) {
    <div
      class="booking-details-preview-container"
      [class.open]="showBoookingDetails"
      (click)="toggleBookingDetails()"
    >
      <div
        class="booking-details-preview-wrapper"
        (click)="$event.stopPropagation()"
      >
        <div class="booking-details-header">
          <div class="booking-details-heading">
            <h1>Booking Details</h1>
          </div>
          <div class="booking-detail-header-action">
            <button class="close-btn" (click)="toggleBookingDetails()">
              &#10005;
            </button>
          </div>
        </div>
        <div class="booking-details-content">
          <div class="booking-details-content-wrapper">
            <div class="booking-details-img">
              <img
                src="../../../../assets/images/luxury/dubai-stunning.jpg"
                alt=""
              />
            </div>
            <div class="booking-details-data">
              <div class="booking-details-title">
                <h1>
                  {{ "magnificent dubai gateway" | titlecase }}
                </h1>
              </div>
              <div class="booking-details-short-desc">
                <span class="booking-details-date font-lato">{{
                  "Feb 21 - Feb 26, 2026" | titlecase
                }}</span>
                <span class="booking-details-no-of-guests font-lato">{{
                  "2 Guests" | titlecase
                }}</span>
              </div>
            </div>
            <div class="booking-details-action-wrapper">
              <button class="booking-details-action-btn invoice-btn">
                Download Invoice
              </button>
              <button class="booking-details-action-btn receipt-btn">
                View Receipt
              </button>
            </div>
            <div class="booking-details-payment-info-wrapper">
              <div class="booking-details-payment-status">
                <span class="label font-lato">Payment Status</span
                ><span class="value font-lato">{{ "Full" | titlecase }}</span>
              </div>
              <div class="booking-details-payment-transactions-details-wrapper">
                <div
                  class="payment-transaction-item-info bullet payment-received"
                >
                  <div class="left-col">
                    <span class="label font-lato">Payment Received</span
                    ><span class="payment-transaction-date">{{
                      "Feb 6, 2026" | titlecase
                    }}</span>
                  </div>
                  <span class="value font-lato">{{
                    "199999" | currency: "INR"
                  }}</span>
                </div>
                <div
                  class="payment-transaction-item-info bullet payment-failed"
                >
                  <div class="left-col">
                    <span class="label font-lato">Payment Failed</span
                    ><span class="payment-transaction-date">{{
                      "Feb 6, 2026" | titlecase
                    }}</span>
                  </div>
                  <span class="value font-lato">{{
                    "199999" | currency: "INR"
                  }}</span>
                </div>
                <div
                  class="payment-transaction-item-info bullet payment-received"
                >
                  <div class="left-col">
                    <span class="label font-lato">Payment Received</span
                    ><span class="payment-transaction-date">{{
                      "Feb 6, 2026" | titlecase
                    }}</span>
                  </div>
                  <span class="value font-lato">{{
                    "199999" | currency: "INR"
                  }}</span>
                </div>
                <div class="payment-transaction-item-info total-amount">
                  <span class="label font-lato text-secondary"
                    >Total Amount</span
                  ><span class="value font-lato">{{
                    "199999" | currency: "INR"
                  }}</span>
                </div>
              </div>
            </div>
            <div class="booking-details-guests-info-wrapper">
              <div class="guests-info-title">
                <h1>Travellers</h1>
              </div>
              <div class="row-group">
                <div class="guest-info-row">
                  <span class="guest-name font-lato">{{
                    "guest one" | titlecase
                  }}</span>
                  <span class="guest-age font-lato">{{
                    "25 years" | titlecase
                  }}</span>
                </div>
                <div class="guest-info-row">
                  <span class="guest-name font-lato">{{
                    "guest two" | titlecase
                  }}</span>
                  <span class="guest-age font-lato">{{
                    "27 years" | titlecase
                  }}</span>
                </div>
                <div class="guest-info-row">
                  <span class="guest-name font-lato">{{
                    "guest three" | titlecase
                  }}</span>
                  <span class="guest-age font-lato">{{
                    "21 years" | titlecase
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
