<div class="account-container">
  <div class="account-header-container">
    <div class="account-page-content">
      <div class="page-title">
        <h1 class="text-white font-lato title-text">Account</h1>
      </div>
      <div class="page-description">
        <p class="font-lato text-secondary description-text">
          Manage your account
        </p>
      </div>
    </div>
  </div>
</div>
@if (userLoading && !user) {
  <span class="font-lato" style="color: #434343; margin-left: 1rem"
    >please wait...</span
  >
}
@if (!userLoading && user) {
  <div class="customer-details-container">
    <div class="customer-details-item flex gap-3">
      <label for="name"
        ><span class="customer-details-item-label">Name: </span></label
      >

      <div>
        <span class="customer-details-item-value">{{
          user?.name || "--"
        }}</span>
        <button class="name-edit-btn" popovertarget="update-name-form">
          <i class="fas fa-pen"></i>
        </button>
      </div>

      <div id="update-name-form" class="update-name-form-popup" popover="auto">
        <h1>Update name</h1>

        <form #updateNameForm="ngForm" (ngSubmit)="updateName(updateNameForm)">
          <div class="custom-input-container">
            <input
              id="name"
              type="text"
              [(ngModel)]="name"
              name="name"
              required
              placeholder=" "
              autocomplete="name"
              pattern="^[a-zA-Z ]+$"
              #nameRef="ngModel"
            />

            <label for="name" [class.filled]="name"> Name </label>

            <i class="fa fa-user input-icon"></i>

            <!-- show error for name -->
            @if (nameRef?.dirty || nameRef?.touched) {
              @if (nameRef?.errors?.["required"]) {
                <span class="err-msg">*name is required</span>
              }

              @if (nameRef?.errors?.["pattern"]) {
                <span class="err-msg">*enter valid name</span>
              }
            }
          </div>

          <button
            type="submit"
            class="name-submit-btn"
            [disabled]="updateNameForm.invalid || user.name === updateNameForm.value.name"
            type="submit"
          >
            Save
          </button>
        </form>
      </div>
    </div>
    <div class="customer-details-item flex gap-3 add-contact-form-container">
      <label for="phone"
        ><span class="customer-details-item-label">Contact No: </span></label
      >
      @if (user?.contact_no) {
        <div>
          <span class="customer-details-item-value">{{
            user?.contact_no
          }}</span>
          <button class="name-edit-btn" popovertarget="update-phone-form">
            <i class="fas fa-pen"></i>
          </button>
        </div>

        <div
          id="update-phone-form"
          class="update-phone-form-popup"
          popover="auto"
        >
          <h1>Update phone</h1>

          <form
            #updatePhoneForm="ngForm"
            (ngSubmit)="updatePhone(updatePhoneForm)"
          >
            <div class="custom-input-container">
              <input
                id="phone"
                type="text"
                [(ngModel)]="phone"
                name="phone"
                required
                placeholder=" "
                autocomplete="tel"
                pattern="^(?:\+91|91)?[6-9]\d{9}$"
                #phoneRef="ngModel"
              />

              <label for="phone" [class.filled]="phone">Phone</label>

              <i class="fa fa-phone input-icon"></i>

              <!-- show error for phone element -->
              @if (phoneRef?.dirty || phoneRef?.touched) {
                @if (phoneRef?.errors?.["required"]) {
                  <span class="err-msg">*phone is required</span>
                }
                @if (phoneRef?.errors?.["pattern"]) {
                  <span class="err-msg">*enter valid phone number</span>
                }
              }
            </div>

            <button
              type="submit"
              class="contact-no-submit-btn"
              [disabled]="updatePhoneForm.invalid || user?.contact_no === updatePhoneForm.value.phone"
            >
              Save
            </button>
          </form>
        </div>
      } @else {
        <button class="add-contact-no-btn" popovertarget="add-contact-form">
          Add
        </button>
        <div
          id="add-contact-form"
          class="add-contact-form-popup"
          popover="auto"
        >
          <h1>Add contact no</h1>
          <form
            #addContactForm="ngForm"
            (ngSubmit)="addContactNo(addContactForm)"
          >
            <div class="custom-input-container">
              <input
                id="contact-no"
                type="text"
                [(ngModel)]="contactNo"
                name="contactNo"
                required
                placeholder=" "
                autocomplete="contact-no"
                required
                pattern="^(?:\+91|91)?[6-9]\d{9}$"
                #contactNoRef="ngModel"
              />
              <label for="contact-no" [class.filled]="user.contactNo"
                >Contact No</label
              >
              <i class="fa fa-phone input-icon"></i>
              <!-- show error for contact no element  -->
              @if (contactNoRef?.dirty || contactNoRef?.touched) {
                @if (contactNoRef?.errors?.["required"]) {
                  <span class="err-msg">*contact no is required</span>
                }
                @if (contactNoRef?.errors?.["pattern"]) {
                  <span class="err-msg">*enter valid contact no</span>
                }
              }
            </div>
            <button
              type="submit"
              class="contact-no-submit-btn"
              [disabled]="addContactForm.invalid"
            >
              Submit
            </button>
          </form>
        </div>
      }
    </div>
    <div class="customer-details-item flex gap-3">
      <label for="email"
        ><span class="customer-details-item-label">Email: </span></label
      >
     
        <div>
          <span class="customer-details-item-value">{{ user?.email }}</span>
          @if (!user.googleId) {
            <button class="name-edit-btn" popovertarget="update-email-form">
              <i class="fas fa-pen"></i>
            </button>
          }
        </div>
     
        <div
          id="update-email-form"
          class="update-email-form-popup"
          popover="auto"
        >
          <h1>Update email</h1>

          <form
            #updateEmailForm="ngForm"
            (ngSubmit)="updateEmail(updateEmailForm)"
          >
            <div class="custom-input-container">
              <input
                id="email"
                type="email"
                [(ngModel)]="email"
                name="email"
                required
                placeholder=" "
                autocomplete="email"
                pattern=".+@.+\..+"
                #emailRef="ngModel"
              />

              <label for="email" [class.filled]="email">Email</label>

              <i class="fa fa-envelope input-icon"></i>

              <!-- show error for email element -->
              @if (emailRef?.dirty || emailRef?.touched) {
                @if (emailRef?.errors?.["required"]) {
                  <span class="err-msg">*email is required</span>
                }
                @if (emailRef?.errors?.["pattern"]) {
                  <span class="err-msg">*enter valid email</span>
                }
              }
            </div>

            <button
              type="submit"
              class="email-submit-btn"
              [disabled]="updateEmailForm.invalid || user?.email === updateEmailForm.value.email"
            >
              Save
            </button>
          </form>
        </div>
      
    </div>
    <div class="customer-details-item">
      <span class="customer-details-item-label">Email Verified: </span
      ><span
        class="customer-details-item-value"
        [class]="user.is_email_verified ? 'chip-yes' : 'chip-no'"
        >{{ user?.is_email_verified ? "Yes" : "No" }}</span
      >
      @if (!user?.is_email_verified) {
        <button
          class="verify-email-btn"
          popovertarget="email-verify-popup"
          (click)="sendEmailVerificationLink()"
        >
          Verify
        </button>
        <!-- get email verification link popover  -->
        <div class="email-verify-popup" id="email-verify-popup" popover>
          <p>
            An email will be send to your email
            <strong>{{ user?.email }}</strong
            >. Please open the link and click verify button.
          </p>
        </div>
      }
    </div>
    <div class="customer-details-item">
      <span class="customer-details-item-label">Mobile-No Verified: </span
      ><span
        class="customer-details-item-value"
        [class]="user.is_contact_no_verified ? 'chip-yes' : 'chip-no'"
        >{{ user?.is_contact_no_verified ? "Yes" : "No" }}</span
      >
      @if (!user.is_contact_no_verified) {
        <button
          class="verify-contact-no-btn"
          popovertarget="otp-form-container"
          (click)="getOtp()"
          [disabled]="!user.contact_no"
        >
          Verify
        </button>
        <div popover="auto" id="otp-form-container" class="otp-form-container">
          <h1>OTP Verification</h1>
          <p>A 4 digit OTP has been send to your registered mobile no.</p>
          @if (otpResData().message && otpResData().success) {
            <div>
              <p
                class="otp-res-message"
                [class]="otpResData().success ? 'success' : 'failed'"
              >
                {{ otpResData().message | uppercase }}.
              </p>
            </div>
          }
          @if (otpResData().message && !otpResData().success) {
            <div>
              <p
                class="otp-res-message"
                [class]="otpResData().success ? 'success' : 'failed'"
              >
                {{ otpResData().message | uppercase }}.
              </p>
            </div>
          }
          <form #otpForm="ngForm" (ngSubmit)="verifyOtp(otpForm)">
            <div class="otp-input">
              <ng-otp-input
                name="otp"
                [config]="otpConfig"
                [(ngModel)]="otp"
                minlength="4"
                maxlength="4"
                (onInputChange)="isOtpValid()"
              ></ng-otp-input>
            </div>
            <div class="otp-form-btn-container">
              <button type="button" class="otp-resend-btn" (click)="getOtp()">
                Resend OTP
              </button>
              <button
                type="submit"
                class="otp-submit-btn"
                [disabled]="disableOtpBtn"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      }
    </div>
  </div>
}
