<div class="password-reset-container">
  <div class="password-reset-card">
    <h1>Sunflower Trip</h1>

    @if (hasAccess && !isDefaultPasswordUsed) {
      <form #form="ngForm" (ngSubmit)="resetPassword()">

        <!-- New Password -->
        <div class="custom-input-container password-container">
        <input id="password" [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" required
          placeholder=" " autocomplete="current-password">
        <label for="password" [class.filled]="password">Password</label>
        <button type="button" class="password-toggle-btn" (click)="togglePasswordVisibility()" tabindex="-1">
          <i class="fa" [ngClass]="hidePassword ? 'fa-eye' : 'fa-eye-slash'"></i>
        </button>
      </div>

        <!-- Confirm Password -->
        <div class="custom-input-container password-container">
          <input
            id="confirm-password"
            type="text"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            #confirmPasswordCtrl="ngModel"
            required
            placeholder=" "
          />
          <label for="confirm-password" [class.filled]="confirmPassword">
            Confirm Password
          </label>

          <small
            class="error"
            *ngIf="
              (confirmPasswordCtrl.invalid && confirmPasswordCtrl.touched) ||
              (confirmPasswordCtrl.touched && password !== confirmPassword)
            "
          >
            <span *ngIf="confirmPasswordCtrl.errors?.['required']">
              Confirm password is required
            </span>
            <span *ngIf="password !== confirmPassword">
              Passwords do not match
            </span>
          </small>
        </div>

        <!-- Button -->
        <button
          class="reset-pwd-btn"
          type="submit"
          [disabled]="form.invalid || password !== confirmPassword"
        >
          Save
        </button>

      </form>
    } 
    @else if (isDefaultPasswordUsed) {
      <p>You have already reset your default password.</p>
    } 
    @else {
      <p>Unauthorized access: permission denied</p>
    }

  </div>
</div>