<h1 class="page-title">Your Trips</h1>
<div class="trip-card-container">
  <div class="trip-card-group">
    <!-- <div class="trip-card-list">
      <div class="trip-card">
        <div class="trip-card-wrapper">
          <div class="trip-card-content">
            <div class="trip-card-img">
              <img
                src="../../../../assets/Bali-Destination-Page/Packages Pictures/BaliEnchantedDiscovery.jpg"
                alt=""
              />
            </div>
            <div class="trip-card-text">
              <div class="trip-title">Land of blue dragon Vietnam Tour</div>
              <div class="trip-price">
                <span class="price-label">Price: </span> <span>99,990</span>
              </div>
              <div class="trip-duration">
                <span class="duration-label">Trip Duration: </span
                ><span>7 Nights & 8 Days</span>
              </div>
              <div class="trip-departure-date">
                <span class="departure-date-label">Departure Date: </span
                ><span>3 Mar 2026</span>
              </div>
              <div class="trip-status">
                <span class="status-label">Status: </span><span class="status-value success">Success</span>
              </div>
            </div>
            <div class="action-btn-container">
              <button class="btn upload-btn">
                <i class="fas fa-upload"></i>
              </button>
              <button class="btn download-btn">
                <i class="fas fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="trip-card">
        <div class="trip-card-wrapper">
          <div class="trip-card-content">
            <div class="trip-card-img">
              <img
                src="../../../../assets/Bali-Destination-Page/Packages Pictures/BaliEnchantedDiscovery.jpg"
                alt=""
              />
            </div>
            <div class="trip-card-text">
              <div class="trip-title">Land of blue dragon Vietnam Tour</div>
              <div class="trip-price">
                <span class="price-label">Price: </span> <span>99,990</span>
              </div>
              <div class="trip-duration">
                <span class="duration-label">Trip Duration: </span
                ><span>7 Nights & 8 Days</span>
              </div>
              <div class="trip-departure-date">
                <span class="departure-date-label">Departure Date: </span
                ><span>3 Mar 2026</span>
              </div>
              <div class="trip-status">
                <span class="status-label">Status: </span><span class="status-value success">Success</span>
              </div>
            </div>
            <div class="action-btn-container">
              <button class="btn upload-btn">
                <i class="fas fa-upload"></i>
              </button>
              <button class="btn download-btn">
                <i class="fas fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="trip-card">
        <div class="trip-card-wrapper">
          <div class="trip-card-content">
            <div class="trip-card-img">
              <img
                src="../../../../assets/Bali-Destination-Page/Packages Pictures/BaliEnchantedDiscovery.jpg"
                alt=""
              />
            </div>
            <div class="trip-card-text">
              <div class="trip-title">Land of blue dragon Vietnam Tour</div>
              <div class="trip-price">
                <span class="price-label">Price: </span> <span>99,990</span>
              </div>
              <div class="trip-duration">
                <span class="duration-label">Trip Duration: </span
                ><span>7 Nights & 8 Days</span>
              </div>
              <div class="trip-departure-date">
                <span class="departure-date-label">Departure Date: </span
                ><span>3 Mar 2026</span>
              </div>
              <div class="trip-status">
                <span class="status-label">Status: </span><span class="status-value success">Success</span>
              </div>
            </div>
            <div class="action-btn-container">
              <button class="btn upload-btn">
                <i class="fas fa-upload"></i>
              </button>
              <button class="btn download-btn">
                <i class="fas fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>