<section class="header-above-only">
  <header class="header">
    <!-- Desktop background -->
    <div class="desktop-only">
      <!-- class=""
        width="100%"
        height="100%"
        frameborder="0" -->
      <div class="background-fallback" *ngIf="!videoLoaded"></div>
      <div class="video-wrapper">
        <video
          class="background-iframe"
          autoplay
          muted
          loop
          playsinline
          preload="metadatas"
          id="bg-video"
          (loadeddata)="onVideoLoad()"
          (error)="onVideoError()"
        >
          <source src="assets/video/world-tour-bg-optimized.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <!-- Mobile background -->
    <div class="mobile-only background-fallback"></div>
    <section class="app-header-section">
      <app-header></app-header>
    </section>

    <!-- Hero content -->
    <div class="hero-content">
      <!-- Left side text -->
      <!-- <div class="top__text" appAnimation>
        <span class="step1">EXPLORE</span>
        <span class="step2">THE</span>
        <span class="step3">WORLD</span>
      </div> -->

      <!-- Main title -->
      <div class="main-title">
        <h1 appAnimation>Beyond</h1>
        <h2 appAnimation>The</h2>
        <h1 appAnimation>Boundaries</h1>
      </div>
    </div>

    <!-- <button (click)="openTripPlanner()">Plan My Trip</button> -->
  </header>
</section>

<!-- Main content components -->
<main>
  <section class="tour-filter-section">
    <!-- <div class="tour-filter-container"> -->
    <app-tour-filter (searchTriggered)="handleSearch($event)"></app-tour-filter>
    <!-- </div> -->
  </section>
  <section>
    <div class="">
      <app-tours></app-tours>
    </div>
  </section>
  <!-- <app-testimonials *ngIf="isTestimonialsLoaded"></app-testimonials> -->
  <section>
    <div class="">
      <app-destinations></app-destinations>
    </div>
  </section>
  <section class="cta-section">
    <div class="cta-content">
      <h3 class="">Ready for Your Next Adventure?</h3>
      <p class="">
        Let our travel experts help you plan the perfect getaway tailored to
        your preferences and budget. Enjoy exclusive deals and personalized
        service.
      </p>
      <a (click)="openTripPlanner()" class="cta-btn">Plan Your Trip Now</a>
    </div>
  </section>
  <section>
    <div>
      <app-services *ngIf="isTestimonialsLoaded"></app-services>
    </div>
  </section>
  <section>
    <div>
      <app-why-us *ngIf="isTestimonialsLoaded"></app-why-us>
    </div>
  </section>
  <!-- <app-chat-widget></app-chat-widget> -->
  <section>
    <div>
      <app-map></app-map>
    </div>
  </section>
  <section>
    <div>
      <app-newsletter></app-newsletter>
    </div>
  </section>
</main>

<app-footer></app-footer>
