<div class="wishlist-container">
  <div class="wishlist-header-container">
    <div class="wishlist-page-content">
      <div class="page-title">
        <h1 class="text-white font-lato title-text">My Wishlists</h1>
      </div>
      <div class="page-description">
        <p class="font-lato text-secondary description-text">
          Tours you saved for later
        </p>
      </div>
    </div>
    <!-- <div class="filter-action-container">
    </div> -->
  </div>

  <div class="wishlist-main-container">
    <div class="wishlist-wrapper">
      <div class="tour-list">
        <div class="tour-card" *ngFor="let item of wishlist; trackBy: trackById">
          <div class="tour-img">
            <img [src]="item.tour.image_url" alt="" />
          </div>
          <div class="tour-details-wrapper">
            <div class="row-flex-between">
              <span class="tour-price font-lato">{{
                item.tour.price | currency: "INR"
              }}</span>
              <span class="tour-rating font-lato"><i class="fas fa-star i-star"></i>4.5</span>
            </div>

            <div class="tour-title">
              <h1 class="font-lato">
                {{ item.tour.title | titlecase }}
              </h1>
            </div>
            <div class="row-flex-start">
              <span class="tour-location font-lato"><i class="fas fa-globe i-globe"></i>{{item.tour.category | titlecase}}</span>
              <span class="tour-duration font-lato"><i class="far fa-clock i-clock"></i>{{item.tour.duration_days}} days</span>
            </div>
          </div>
          <div class="tour-action-btn-wrapper">
            <button class="action-btn view-details-btn font-lato" (click)="gotoTour(item.tour.slug)">
              View Details
            </button>
            <button class="action-btn book-now-btn font-lato" (click)="gotoTour(item.tour.slug)">Book Now</button>
            <button class="delete-btn" (click)="handleRemoveWishlist(item.id)"><i class="fas fa-trash"></i></button>
          </div>
        </div>
      </div>
      <div *ngIf="wishlist.length === 0" class="not-found-text font-lato">No wishlist found.</div>
    </div>
  </div>
</div>
